<div id="mySidenav_sc" class="l-sidenav">
  
  <div class="l-sidenav-header p-3 d-flex justify-content-center align-items-center">
    <button href="javascript:void(0)" class="l-closebtn p-0">
      <img src="/game/public/kingtea/assets/img/index/close.svg">
    </button>
    <img class="l-logo" src="/game/public/kingtea/assets/img/index/logo.svg">
  </div>
  <div class="p-3 l-sidemenu"><a href="#home">活動辦法</a></div>
  <div class="p-3 l-sidemenu"><a href="#about">中獎紀錄查詢</a></div>
</div>
<div class="l-nav-header p-3 d-flex justify-content-center align-items-center">
  <button href="javascript:void(0)" class="l-openbtn p-0">
    <img src="/game/public/kingtea/assets/img/index/menu.svg">
  </button>
  <img class="l-logo" src="/game/public/kingtea/assets/img/index/logo.svg">
</div>